div(id=meta.id)
  h2 My Current games
  div(id="game-list-action-status")
  table
    tr
      th Name
      th Players
      th No. of Players
      th Creation Time
      th Status
      th Actions
    each game, i in games
      tr(id="game-list-" + game._id)
        td #{game.name}
        td
          each player, i in game.players
            a(href="#") #{users[player].name}
            &nbsp;
        td #{game['numPlayers']}
        td #{datetime.formatAgo(new Date(game.creationTime))}
        td #{game.status}
        td
          each action, i in game.actions
            input(type="button", class="action-button", value=action)
