div(id=meta.id)
  div(class="status-bar") #{game.status}
  table(id="game-play-player-list")
    tr
      th Name
      th Money
      th Pawn
    each player, i in game.players
      - var playerIdx = player.replace(/\./g, "(")
      tr
        td
          a(href="#") #{users[player].name}
          if game.turn == player
            span *
        td #{game.playerStatus[playerIdx].money}
        td(class="pawn")
            span(class=game.playerStatus[playerIdx].color) O

  if game.turn == user.id
    button(id="game-play-throw-dice") Throw Dice

  div(id="game-play-board")
    each place, i in places
      - var placeInfo = placesInfo[place]
      - var type = placeInfo.type
      - var top = null
      - var left = null

      div(class=type+" "+placeInfo.color+" board-square")
        div(class="place-title")
          | #{place}
        if type == "place"
          div(class="desc-title") Cost
          ul
            li Site: #{placeInfo.cost.site}
            li House: #{placeInfo.cost.house}
            li Hotel: #{placeInfo.cost.hotel}
          div(class="desc-title") Rent
          ul
            li Site: #{placeInfo.rent.site}
            li House: #{placeInfo.rent.house}
            li Hotel: #{placeInfo.rent.hotel}
        if typeof (game.positionStatus[i]) !== "undefined" && typeof (game.positionStatus[i].players) !== "undefined" && game.positionStatus[i].players.length != 0
          span(class="occupants")
            each player, j in game.positionStatus[i].players
              - var playerIdx = player.replace(/\./g, "(")
              span(class="pawn")
                span(class=game.playerStatus[playerIdx].color) O
